#—————[IDE Generated]—————#
*.idea
*.svd
*.userprefs
*.pidb
*.suo
*.app
*.user
*.booproj
*.csproj
*.sln
.vs
obj
bin

#—————[OS Generated]—————#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pbxuser
*.xccheckout
*.xcscheme

#—————[Unity]—————#
Library/
Temp/
Build/
Builds/
/AssetBundles/


#—————[LunarConsole]—————#
/Assets/LunarConsole.meta
/Assets/LunarConsole/
/Assets/Scenes/StartLunarConsole.unity
/Assets/Scenes/StartLunarConsole.unity.meta


#—————[LoadingData]—————#
/Assets/Resources/Video/VideoSplash.mp4.meta
